/.cache
/.colcon
/.dotnet
/.gitconfig
/.gnupg
/.launchpadlib
/.profile
/.ros
/.ssh
/.vscode-server
/.local
/build
/install
/log
/ros2_ws/build
/ros2_ws/install
/ros2_ws/log
/ros2_ws/src/ros2_bridge/test/__pycache__/
